body  {
  background-image: url("../img/pattern.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  margin : 0;
  padding : 0;
}

header {
  background-color: white;
  top:0;
  position: sticky;
}

header img {
  float: left;
}

nav {
  overflow: hidden;
  background-color: white;
}

nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

ul {
  float: right;
}

ul li {
  display : inline-block;
}

section {
  background-color: white;
  width: 1000px;
  margin: auto;
}

article{
  padding: 12px;
  border-bottom: 1px solid black;
}

h1{
  text-align: center;
  padding: 10px;
}

a {
  text-decoration: none;
}

footer {
  background-color: black;
  padding : 5px;
  margin-top: 10px;
  text-align: center;
}

h5 {
  color: white;
}